
body {
    background-color: #FFFDFB !important;
}

.table th { 
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background: rgba(255, 218, 10, 0.835);
    color: black;
}

.container-all-info { 
    width: 100%;
    height: 100vh;
    background: #FFFDFBed;
} 